In [17]:
import pandas as pd

In [18]:
orders_data =  pd.read_csv("orders_data.csv")

In [19]:
orders_df = pd.DataFrame(orders_data) #converts the dataset to Pandas Data Frame

In [20]:
print(orders_df)

   OrderID CustomerName   Product     Category  Quantity  PricePerUnit  \
0      101        Alice   T-Shirt     Clothing         2           500
1      102          Bob     Shoes     Footwear         1          2000
2      103      Charlie  Trousers     Clothing         3          1200
3      104        David   T-Shirt     Clothing         5           500
4      105          Eva     Shoes     Footwear         2          2200
5      106        Frank       Hat  Accessories         4           300
6      107        Grace   T-Shirt     Clothing         1           550
7      108        Helen  Trousers     Clothing         2          1100

    OrderDate       City  TotalAmount
0  01-09-2025      Delhi         1000
1  02-09-2025     Mumbai         2000
2  02-09-2025      Delhi         3600
3  03-09-2025  Bangalore         2500
4  03-09-2025    Chennai         4400
5  04-09-2025     Mumbai         1200
6  05-09-2025      Delhi          550
7  05-09-2025    Chennai         2200

In [21]:
print(orders_df.head()) # prints the first 5 rows of the dataframe.

   OrderID CustomerName   Product  Category  Quantity  PricePerUnit  \
0      101        Alice   T-Shirt  Clothing         2           500
1      102          Bob     Shoes  Footwear         1          2000
2      103      Charlie  Trousers  Clothing         3          1200
3      104        David   T-Shirt  Clothing         5           500
4      105          Eva     Shoes  Footwear         2          2200

    OrderDate       City  TotalAmount
0  01-09-2025      Delhi         1000
1  02-09-2025     Mumbai         2000
2  02-09-2025      Delhi         3600
3  03-09-2025  Bangalore         2500
4  03-09-2025    Chennai         4400

In [22]:
print(orders_df.info()) # prints the info about all the columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderID       8 non-null      int64
 1   CustomerName  8 non-null      object
 2   Product       8 non-null      object
 3   Category      8 non-null      object
 4   Quantity      8 non-null      int64
 5   PricePerUnit  8 non-null      int64
 6   OrderDate     8 non-null      object
 7   City          8 non-null      object
 8   TotalAmount   8 non-null      int64
dtypes: int64(4), object(5)
memory usage: 708.0+ bytes
None

In [23]:
print(orders_df.describe()) # Gives out the basic counts and metrics about the columns with numbers.

         OrderID  Quantity  PricePerUnit  TotalAmount
count    8.00000  8.000000      8.000000     8.000000
mean   104.50000  2.500000   1043.750000  2181.250000
std      2.44949  1.414214    723.798265  1314.191087
min    101.00000  1.000000    300.000000   550.000000
25%    102.75000  1.750000    500.000000  1150.000000
50%    104.50000  2.000000    825.000000  2100.000000
75%    106.25000  3.250000   1400.000000  2775.000000
max    108.00000  5.000000   2200.000000  4400.000000

In [24]:
print(orders_df.iloc[0]) # prints the selected row of the dataframe

OrderID                101
CustomerName         Alice
Product            T-Shirt
Category          Clothing
Quantity                 2
PricePerUnit           500
OrderDate       01-09-2025
City                 Delhi
TotalAmount           1000
Name: 0, dtype: object

In [25]:
print(orders_df['OrderID']) # prints the selected column of the dataframe

0    101
1    102
2    103
3    104
4    105
5    106
6    107
7    108
Name: OrderID, dtype: int64